.aboutyou {
	border: 1px solid #9840fb;
	padding: 20px 10px;
	border-radius: 5px;
}

.btn-group{
	width: 100%;
	display: inline-block;
}


.btnform {
	width:20%;
    color: #9840fb;
    border: 1px solid #9840fb;
}

.btnform.active {
    background-color: #9840fb !important;
    color: #ffffff;
}

.btn:active {
    background-color: #9840fb;
    color: #ffffff;
}

.btn-default:active {
    background-color: #9840fb !important;
    color: #ffffff !important;
}

.btnform:hover {
    background-color: #cb9ffd;
    color: #ffffff;
}

.btnform.active:hover {
    background-color: #9840fb;
    color: #ffffff;
}

.btnform:focus {
     background-color: #cb9ffd;
    color: #ffffff;
}

.inputtxt {
    border: 1px solid #9840fb;

}

/*
.btnform.active, .btnform:active {
    background-color: #51a3db;
    color: #ffffff;
}


.btnform.hover, .btnform:hover {
    background-color: #bdd3dd;
}
*/

#matchImg{
    max-width: 200px;
}

.modal-content{
    border-color: #000;
    margin-top: 100px;
}

.modal-header {
    background-color: #9840fb;
    border-color: #9840fb;
    border-radius: 5px 5px 0px 0px;
}

.modal-title {
    color: #fff;
    font-size: 2.5em;
    font-weight: 700; 
}

.modal-body {
    border: none;
}

.modalText {
    color: #000;
    font-size: 1.5em;
}

.modalBtn {
    background-color: #9840fb;
    border-color: #9840fb;
    color: #fff;
}

.modalBtn:hover {
    background-color: #cb9ffd;
    border-color: #cb9ffd;
    color: #fff;
}

.modal-footer {
    border-top: none; 
}

.question {
    margin-top: 30px;
}

#matchName {
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    .btnform {
        width: 100%;
        border-radius: 0px;

    }
}